body {
  min-height: 70vh;
}

.wDboard {
  animation: fadeIn 4s linear 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wDboard {
  background-image: url(../assets/rainbow.png);
  opacity: 1;
  transition: opacity 2s linear;
  background-repeat: no-repeat;
  background-size: cover;
  height: 78vh;
  border-left: 1px solid #581e10;
  border-right: 1px solid #581e10;
  border-bottom: 3rem solid #581e10;
}

#time {
  color: #92594b;
}


h3,
h4 {
  text-align: center;
}

h5 {
  margin: 1rem 0rem;
  font-weight: 700 !important;
}

p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: -0.4rem;
}

#intro {
  font-size: 5rem;
  text-align: center;
}

#wApp {
  font-size: 7rem;
  font-weight: 700;
  color: rgb(165, 162, 162);
}

#start {
  font-size: 2rem;
  margin-top: 2rem;
}

h1 {
  padding-left: 0 !important;
}

.weather-header {
  background-color: rgba(0, 0, 0, 0.100) !important;
  background: url("../assets/Nav20230309154531.gif") !important;
  background-size: cover !important;
  padding-left: 0px !important;
  margin-left: -10px;
  width: 105%;
}

#dailyInfo {
color: #581e10;
}

.dailyVal {
  font-size: 20px;
  font-weight: normal;
}

.dailySymbol {
  margin-left: 1rem;
}

.dateTime {
  margin-left: 2rem;
}

#time {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

#weeklyTitle {
  display: block;
  text-align: left;
  width: 100%;
  margin-left: 20px;
}

.weeklyList {
  list-style: none;
  width: 190px;
  background-image: linear-gradient(rgb(145, 31, 31), rgb(16, 105, 121));
  margin: 0.5rem;
  padding-left: 1rem;
}

.weeklyList:nth-child(1) {
  background: url("../assets/Card5-20230309165748.gif");
}

.weeklyList:nth-child(2) {
  background: url("../assets/Card5-20230309165748.gif");
}

.weeklyList:nth-child(3) {
  background: url("../assets/Card3-20230309165226.gif");
}

.weeklyList:nth-child(4) {
  background: url("../assets/Card2-20230309164808.gif");
}

.weeklyList:nth-child(5) {
  background: url("../assets/Card1-20230309164317.gif");
}

.weeklyInfo {
  color: white;
}

#zoneDate,
#zoneTime,
.zoneRegion {
  font-weight: 650;
}

#zoneDate {
  color: #cadaf8;
  /* color: #5e83c9; */
}

#zoneTime {
  color: #d9fcf4;
  /* color: #4cc0a7; */
}

.zoneRegion {
  color: rgb(250, 233, 233);
  /* color: rgb(129, 112, 112); */
}


@media screen and (max-width: 1140px) {
  .wDboard {
    background-size: contain;
    height: 80vh;
    border: 0rem;
  }

  ul {
    padding: 0px;
  }

  #today {
    display: flex;
    flex-flow: row wrap;
  }

  .dailyList {
    padding-left: 5rem;
  }

  .dailySymbol {
    padding-left: 0.2rem;
  }

  .dateTime {
    grid-area: dailyTime;
    margin-left: 0rem;
    margin-top: 0.5rem;
    font-size: 1.6rem;
  }

  .dashB {
    display: flex;
    justify-content: center;
  }

  .weeklyTable {
    flex: 0;
    height: auto;
    align-items: center;
  }

  #intro {
    font-size: 1.5rem;
    text-align: center;
  }

  #wApp {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(165, 162, 162);
  }

  #start {
    font-size: 1rem;
    margin-top: 1rem;
  }

  #time {
    font-size: 3rem;
  }

  #weeklyTitle {
    width: 80%;
    margin-left: 0rem;
    display: block;
  }

  h4 {
    text-align: center;
  }

  h3 {
    text-align: center;
    font-size: 2rem;
  }

  .weeklyList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .weeklyInfo {
    padding-right: 0.5rem;
  }

  #zoneTxt {
    position: fixed;
    margin-left: 1rem;
    margin-top: 100rem;
    color: black;
    width: 70%;
  }
  
  #zoneDate,
  #zoneTime,
  .zoneRegion {
    font-weight: 650;
  }
  
  #zoneDate {
    /* color: #cadaf8; */
    color: #5e83c9;
  }
  
  #zoneTime {
    /* color: #d9fcf4; */
    color: #4cc0a7;
  }
  
  .zoneRegion {
    /* color: rgb(250, 233, 233); */
    color: rgb(129, 112, 112);
  }

}

@media screen and (min-width: 1140px) {
  #weeklyTable {
    display: flex;
    margin-left: 10px;
  }

  #today {
    border: 1px solid black;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0;
  }

  h2 {
    margin: 1.5rem 0rem;
  }

  #zoneTxt {
    animation: 8s slide-left;
  }
  @keyframes slide-left {
    from {
      margin-left: 20rem;
    }
    to {
      margin-left: 0rem;
    }
  }
    
  #zoneTxt {
    position: relative;
    margin: 0 auto;
    margin-top: -3.5rem;
    color: white;
    
  }
  

}